.header_menu {
    background-color: black;
    text-align:center;
    color:white;
}

.header_menu p{
    display:inline-block;
}

.header_menu ul{
    display:inline-block;
}


.header_menu li{
    display:inline-block;
    list-style: none;

}

.header_menu a{
    text-decoration: none;
    color:white;

}

.header_menu a:hover{
    color:skyblue;

}